body {
    font-family: sans-serif;
    font-size: 18px;
    background-color: ghostwhite;
    text-align: center;
}

.Images {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 350px;
}


.Labels {
    display: inline-block;
    width: 10%;
    text-align: left;
}

.Inputs {
    display: inline-block;
    width: 15%;
    text-align:right;
}

.Icons {
    height: 50px;
    width: 60px;
}

.Buttons {
    display: inline-block;
    width: auto;
    height: auto;
}

.Error {
    color: red;
    font-weight: 600;
}

.topForm{
    width: 1500px;
    margin: 200px 200px 100px 100px;
}