body {
    font-family: Alegreya,serif;
    font-size: 18px;
    background-color: ghostwhite;
}

.Images {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 350px;
}


.Icons {
    height: 50px;
    width: 60px;
}

.Buttons {
    display: inline-block;
    width: auto;
    height: auto;
}

.Error {
    color: red;
    font-weight: 600;
}

