
<!DOCTYPE html>
<html>
<head>
    <title></title> 
</head>
<body>
    @{ 
        /* We may want to investigate this instead of static html */
        int item = 2 + 2;
    }
    @item
</body>
</html>
